<h2>The Result</h2>
{{#.}}
<article class="{{{social}}}">
	<a href="{{{link}}}" target="_blank"><div id="imgwrapper"><img src="{{{image}}}" /></div></a>
	<h3><a href="{{{link}}}" target="_blank">{{title}}</a></h3>
	<p>{{{content}}}</p>
</article>
{{/.}}
