<h2>The Posts</h2>
{{#.}}
<article>
	<a href="{{{link}}}" target="_blank"><div id="imgwrapper"><img src="{{{image}}}" />
		<div class="img-bg {{{social}}}"></div>
	</div></a>
	<h3><a href="{{{link}}}" target="_blank">{{title}}</a></h3>
	<p>{{{content}}}</p>
</article>
{{/.}}

